server:
  port: 8761 # The standard port for Eureka

spring:
  profiles:
    active: dev

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false # I am the server, so I don't need to register with myself
    fetch-registry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    enable-self-preservation: false # 1. Turn off "Self Preservation" (so it kills dead nodes instantly)
    eviction-interval-timer-in-ms: 10000 # 2. Check for dead nodes every 10 seconds (instead of 60s)